.scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;

    height: 40px;
    width: 40px;
    border-radius: 25px;
    border: none;
    background-color: #333333;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);

    transform: scale(0);
    transition: .2s ease-in box-shadow;
}

.scrollButton:focus {
    outline: none;
}

.scrollButton:active {
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),
        0 12px 17px 2px rgba(0,0,0,.14),
        0 5px 22px 4px rgba(0,0,0,.12);
}

.shown {
    transform: scale(1);
    transition: .2s ease-in box-shadow, .25s cubic-bezier(0.24, 0.09, 0.37, 1.65) transform;
}

.hidden {
    transform: scale(0);
    transition: .2s ease-in box-shadow, .25s cubic-bezier(0.69, -0.79, 0.79, 0.91) transform;
}