.footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footerListHeader {
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
  color: rgb(150, 150, 150);
  margin-bottom: 1rem;
}

.footerLinkList {
  display: flex;
  flex-direction: column;
}

.footerLinkList a {
  font-size: 0.9rem;
  color: #fff;
  line-height: 1.65rem;
}

.footerLogo {
  margin-bottom: 0.5rem;
}

.footerCopyright {
  font-size: 0.75rem;
  color: rgb(150, 150, 150);
}