.postWrapper {
    margin-bottom: 35px;
}

.headerLink {
    color: inherit;
    text-decoration: none;
}

.headerLink:hover {
    text-decoration: underline;
}

.headerLink h3 {
    color: inherit;
    text-decoration: none;
    margin-bottom: 2px;
    font-family: "League Spartan";
}

.postDate {
    color: rgb(150, 150, 150);
    font-size: 10px;
    font-family: "League Spartan";
    margin-bottom: 4px;
}

.postAuthor {
    color: rgb(150, 150, 150);
}